* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font: 14px sans-serif;
  color: #333;
}

button {
  color: rgb(0, 0, 0);
  background-color: #fafafa;
  border: 1px solid #eee;
  width: 200px;
  border-radius: 4px;
  height: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'JetBrains Mono';
  position: absolute;
  margin-left: 500px;
  transition: all 0.2s ease-in-out;
  transition: 1s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  color: #242424;
}
